Declaration d'objet math

In [2]:
import numpy as np

In [3]:
x=np.array([1,2,3])

Propriétés d'un obj. math.

In [4]:
x.ndim

1

In [5]:
x.shape

(3,)

In [6]:
x.dtype

dtype('int32')

In [7]:
x=np.array([1,2,3] , dtype=np.uint8)

In [8]:
x.dtype

dtype('uint8')

Opérateurs sur vecteurs

In [9]:
x=np.array([1,2,3])
y=np.array([1,1,1])
z=x+y
z

array([2, 3, 4])

In [10]:
# y=np.array([1,1,1])
y=np.ones(shape=(3), dtype=np.int16)

In [11]:
y

array([1, 1, 1], dtype=int16)

In [12]:
x-y # soustraction de 2 vecteurs

array([0, 1, 2])

In [13]:
x*y # element-wise multiplication

array([1, 2, 3])

In [14]:
z=[]
for i in range(len(x)):
    p=x[i]*y[i]
    z.append(p)
z=np.array(z)
z

array([1, 2, 3])

In [15]:
z=np.empty(shape=x.shape, dtype=x.dtype)
for i in range(len(x)):
    z[i]=x[i]*y[i]
z

array([1, 2, 3])

In [16]:
x/y

array([1., 2., 3.])

In [17]:
x**y

array([1, 2, 3], dtype=int32)

Fonctions sur les vecteurs

In [18]:
ages=np.array([28,35,51,24])

In [19]:
ages.min()

24

In [20]:
ages.max()

51

In [21]:
ages.argmin()

3

In [22]:
ages.argmax()

2

In [23]:
ages.sort()

In [24]:
ages

array([24, 28, 35, 51])

In [25]:
np.max(ages)

51

In [26]:
np.min(ages)

24

In [27]:
np.mean(ages)

34.5

In [28]:
np.sort(ages)

array([24, 28, 35, 51])

In [29]:
np.sort(ages)[::-1]

array([51, 35, 28, 24])

In [30]:
np.var(ages) # variance

106.25

Exemple:

In [31]:
ages1=np.array([29,30,29,31,30,31])

In [32]:
np.mean(ages1)

30.0

In [33]:
ages2=np.array([20,30,40,50,30,10])

In [34]:
np.mean(ages2)

30.0

In [35]:
np.var(ages1)

0.6666666666666666

In [36]:
np.var(ages2)

166.66666666666666

Opérations sur matrices

In [37]:
X=np.array([[1,2,3],[4,5,6]])
Y=np.array([[1,1,1],[1,1,1]])
Z=X+Y
Z

array([[2, 3, 4],
       [5, 6, 7]])

In [38]:
X-Z

array([[-1, -1, -1],
       [-1, -1, -1]])

In [39]:
X*Y

array([[1, 2, 3],
       [4, 5, 6]])

In [40]:
X/Y

array([[1., 2., 3.],
       [4., 5., 6.]])

In [41]:
X**Y

array([[1, 2, 3],
       [4, 5, 6]])

Fonctions sur matrices

In [42]:
x=np.array([1,2,3])
y=np.array([5,6,7])
np.dot(x,y)

38

In [44]:
X=np.array([[1,2,3],[4,5,6]])
Y=np.array([[2],[3],[4]])
np.dot(X,Y)

array([[20],
       [47]])

In [47]:
X

array([[1, 2, 3],
       [4, 5, 6]])

In [46]:
X.min()

1

In [48]:
X.min(axis=0)

array([1, 2, 3])

In [49]:
X.min(axis=1)

array([1, 4])

In [50]:
X.sum()

21

In [51]:
X.sum(axis=0)

array([5, 7, 9])

In [ ]:
X.mean(axis=0)

Opérations entre vecteurs et scalaires

In [56]:
x=np.array([1,2,3])
x

array([1, 2, 3])

In [54]:
2*x

array([2, 4, 6])

In [55]:
2+x

array([3, 4, 5])

In [57]:
x+2

array([3, 4, 5])

In [58]:
x/2

array([0.5, 1. , 1.5])

Operations entre matrices et vecteurs

In [60]:
X=np.array([[[1,2],[2,3],[3,4]]])
X

array([[[1, 2],
        [2, 3],
        [3, 4]]])

In [61]:
x=np.array([2,2])
x

array([2, 2])

In [62]:
X+x

array([[[3, 4],
        [4, 5],
        [5, 6]]])

In [63]:
X*x

array([[[2, 4],
        [4, 6],
        [6, 8]]])

In [64]:
X/x

array([[[0.5, 1. ],
        [1. , 1.5],
        [1.5, 2. ]]])

<b>Exercice :</b>

Soit un employé 'Ali' ayant comme age 28 et salaire 2100.75.

Soit l'ensemble d'employés : 
- 'Salma' (age=40,salaire=2200.76)
- 'Rahma' (age=28,salaire=3200.76)
- 'Ahmed' (age=45,salaire=2100.33)

In [65]:
ali=np.array([28,2100.75])
employes=np.array([[40,2200.76],
                   [28,3200.76],
                   [45,2100.33]])
noms=['Salma','Rahma','Ahmed']

In [67]:
employes.shape[0]

3

In [68]:
employes

array([[  40.  , 2200.76],
       [  28.  , 3200.76],
       [  45.  , 2100.33]])

In [69]:
# l'age de premier employe
employes[0,0]

40.0

In [70]:
# salaire de dernier employé
employes[-1,-1]

2100.33

In [71]:
# premier employé
employes[0,:]

array([  40.  , 2200.76])

In [72]:
#dernier employé
employes[-1,:]

array([  45.  , 2100.33])

In [73]:
# age de tous les employés
employes[:,0]

array([40., 28., 45.])

In [74]:
# salaire de tous les employés
employes[:,-1]

array([2200.76, 3200.76, 2100.33])

In [75]:
# matrice contenant premier et dernier employé
employes[[1,-1],:]

array([[  28.  , 3200.76],
       [  45.  , 2100.33]])

In [76]:
# employés dont l'age <40
employes[:,0]

array([40., 28., 45.])

In [78]:
employes[:,0]<40

array([False,  True, False])

In [79]:
employes[employes[:,0]<40,:]

array([[  28.  , 3200.76]])

In [80]:
distances=np.empty(shape=(employes.shape[0]))
for i in range(employes.shape[0]):
    d=ali-employes[i,:]
    d2=d**2
    s=np.sum(d2)
    dist=np.sqrt(s)
    distances[i]=dist

In [81]:
distances

array([ 100.72735527, 1100.01      ,   17.00518744])

In [83]:
indice_employe_proche=np.argmin(distances)
indice_employe_proche

2

In [84]:
noms[indice_employe_proche]

'Ahmed'

Alternative

In [90]:
noms[np.argmin(np.sqrt(np.sum((employes-ali)**2,axis=1)))]

'Ahmed'